body {
    background: black;
    color: white;
    overflow-x: hidden;
}

.hero-text {
    text-align: center;
    font-size: 30px;
}

/* CONTAINER PRINCIPAL */
.header-container {
    display: flex;
    align-items: center;       
    justify-content: center;   
    position: relative;        
    border-bottom: 1px solid white;
    padding: 20px 40px;
}

/* LOGO FIAP (Fixada na esquerda) */
.logofiap {
    width: 120px;
    height: auto;
    position: absolute;        
    left: 40px;                
}

/* TÍTULO ORBCLEAR (Centralizado) */
.logo {
    font-size: 28px;
    letter-spacing: 4px;
    margin: 0;                
    text-align: center;
}